{% extends 'layout/layout.twig' %}

{% block title %}Article Unique Du Blog{% endblock %}

{% block description %}{% endblock %}



{% block main %}
    <main id="home">
        <section>
            <h2> {{ blogs.title }}</h2>
        
            <p>
            {{ blogs.title }} {{ blogs.content }}
            </p>

        </section>
    </main>
{% endblock %}
 