{% extends 'layout/layout.twig' %}

{% block title %} {{ blogs.title }}{% endblock %}

{% block description %}{% endblock %}



{% block main %}
    <main id="home">
        <section>
            <h2> {{ blogs.title }}</h2>
        
            <p>
             {{ blogs.content }}
            </p>

        </section>
    </main>
{% endblock %}
 