{% extends 'layout/layout.twig' %}

{% block title %}blog{% endblock %}

{% block description %}Homepage of the blogphp{% endblock %}



{% block main %}
    <main id="home">
        <section>
            <h2>Les Articles du Blog</h2>
        
             <ul>
                {% for blog in allBlogs %}
                    <li>
                        <a href="index.php?access=article!read&id={{ blogArticleUnique.id }}">
                            {{ blogs.title }} : {{ blogs.author }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
 