
{% extends 'layout/layout.twig' %}

{% block title %}Accueil ' Blog{% endblock %}

{% block description %}Homepage of the blogphp{% endblock %}

{% block contact %} Contact {% endblock %}

{% block main %}
    <main id="home">
        <section>
            <h2>Introduction</h2>

            <p>This project is a pedagogic template to start a Web application with a PHP MVC architecture...</p>
            <p>You will find the documentation <a href="https://github.com/philippebeck/php-mvc/wiki">here</a>...</p>
            <p>Don't hesitate to send <a href="https://github.com/philippebeck/php-mvc/issues">issues</a> or <a href="https://github.com/philippebeck/php-mvc/pulls">pull requests</a>, I will watch them with interest...</p>
        </section>
        <section>
            <h2>Contact</h2>
            <form class="form" 
        method="post" 
        action={{ url('contact') }}>
        <fieldset>
            <ul>
                <li>
                    <label class="anima-slideR-this" 
                        for="name">
                        Name
                    </label>
                    <input class="anima-slideL-this" 
                        id="name" 
                        name="name" 
                        type="text" 
                        placeholder="Your name" 
                        maxlength="20" 
                        required 
                        autofocus>
                </li>
                <li>
                    <label class="anima-slideR-this" 
                        for="email">
                        Email
                    </label>
                    <input class="anima-slideL-this" 
                        id="email" 
                        name="email" 
                        type="email" 
                        placeholder="Your email" 
                        maxlength="50" 
                        required>
                </li>
                <li>
                    <label class="anima-slideR-this" 
                        for="subject">
                        Subject
                    </label>
                    <input class="anima-slideL-this" 
                        id="subject" 
                        name="subject" 
                        type="text" 
                        placeholder="Your subject" 
                        maxlength="50" 
                        required>
                </li>
                <li>
                    <label class="anima-slideR-this" 
                        for="message">
                        Message
                    </label>
                    <textarea class="anima-slideL-this" 
                        id="message" 
                        name="message" 
                        placeholder="Your message" 
                        rows="5"></textarea>
                </li>
            </ul>
            <ul>
               
                <li>
                    <input class="anima-slideR-this" 
                        type="reset" 
                        value="Reset">
                    <input class="anima-slideL-this" 
                        type="submit" 
                        value="Send">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('home') }}">
        Quit
    </a>
        </section>
        <section>
            <h2>Demonstration</h2>

            <p>The example users are :</p>
            <ul>
                {% for user in allUsers %}
                    <li>
                        {{ user.name }} <hr> {{ user.email }}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}