<footer>
    <li>
       
        <a class="btn-primary" href="https://github.com/padraig11" title="GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github fa-2x fa-fw" aria-hidden="true"></i>
        </a>
        <a class="btn-primary" href="https://twitter.com/PatriceEsperou" title="@Patrice Esperou" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-twitter fa-2x fa-fw" aria-hidden="true"></i>
        </a>
        <a class="btn-primary" href="https://www.linkedin.com/in/patrice-esperou-92aaa7191/" title=" Linkedin Patrice Esperou" rel="noreferrer noopener" target="_blank">
           <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn-primary" href="https://www.facebook.com/creasite.narbonne" title=" Facebook creasite.narbonne" rel="noreferrer noopener" target="_blank">
           <i class="fab fa-facebook"></i>
        </a>
        <a class="btn-primary" href="#">Admistration
        </a>
    </li>
</footer>

