<footer>
    <li>
        <a href="https://github.com/padraig11" title="GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github-alt fa-fw fa-3x" aria-hidden="true"></i>
        </a>
    </li>
</footer>